.register-wrapper .info-section-container {
    border: none;
    background-color: transparent;
}

.register-wrapper .card-header {
    background-color: #e7d0c5;
}

.register-wrapper .card-body {
    background-color: white;
}

.register-message {
    text-align: center;
    margin: 10px;
}

.register-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.fields-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 50px 40px;
}
