.michael-img {
    width: 368px;
    height: 474px;
}

.feedbacks {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

.feedback-imgs {
    display: flex;
}

.customers-prints {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 50px;
}

.customers-prints img {
    width: min(610px, 66vh);
    height: min(208px, 33vh);
}

/* 
Width calc explanation: 
    368px  from michael-img
    50px   from margin-left
    min(*) from customers-prints img above
*/
.customers-message {
    max-width: calc(368px + 50px + min(610px, 66vw));
    height: 130px;
    margin: 0 30px;
    background-color: #dda6a6;
    margin-top: 54px;
}
