.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-content-wrapper {
    flex-direction: column;
    display: flex;
    margin: 40px;
}

.profile-content {
    flex-direction: column;
    background-color: white;
    border-radius: 16px;
    border: 1px solid black;
    width: 100%;
}

.profile-main {
    margin: 20px;
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.profile-image {
    margin: 20px 0;
    justify-content: center;
    display: flex;
}

.profile-options {
    margin-bottom: 20px;
}

.user-flag {
    margin: 0 auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    color: green;
}

.admin-flag {
    margin: 0 auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    color: red;
}

.profile-options .pausa-button {
    background-color: red;
}
