.promo-card {
    flex-direction: column;
    border-radius: 16px;
    width: clamp(100px, 30vw, 440px);
    margin: clamp(20px, 3vw, 40px);
    padding: clamp(20px, 3vw, 40px);
    border: 1px solid black;
    background-color: white;
}

.promo-card-icon {
    width: 9vw;
    height: 15vh;
    margin-bottom: 20px;
}
