.pausa-button {
    overflow: hidden;
    position: relative;
    background-color: #b86e4c;
    width: clamp(100px, 30vw, 320px);
    height: 80px;
    font-size: clamp(24px, 4vw, 40px);
    text-transform: uppercase;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
}
