.search-bar-input {
    flex: 1;
    font-size: clamp(1rem, 1rem + 2vw, 2rem);
    font-family: "Lilita One", cursive;
    outline: none;
    border: none;
    height: 100%;
}

.search-bar-icon {
    height: 100%;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar-icon img {
    height: 100%;
}

.search-bar-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 75px;
    width: 75%;
    border-radius: 16px;
    background-color: white;
    border: 1px solid black;
    overflow: hidden;
    padding: 10px;
}
