.product-description-wrapper {
    flex-direction: column;
    margin: 20px 0;
}

.product-description-image {
    width: 80%;
    flex: 1;
}

.product-description-image img {
    width: 80%;
}

.product-description-info-wrapper {
    width: 100%;
}

.product-description-info-wrapper .info-section-container {
    background-color: transparent;
    border: none;
}

.product-description-info {
    flex-direction: column;
    margin: 30px 0;
    border-radius: 16px;
    width: 100%;
    padding: 0 30px;
}

.product-name,
.product-price,
.product-ingredients,
.product-stock,
.product-friends {
    flex-direction: row;
    background-color: white;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    padding: 20px 0;
    gap: 20px;
    overflow: hidden;
}

.product-name {
    border-radius: 16px 16px 0 0;
    border: 1px solid black;
}

.product-price,
.product-ingredients,
.product-stock {
    border: 1px solid black;
    border-top: none;
}

.product-friends {
    border-radius: 0 0 16px 16px;
    border: 1px solid black;
    border-top: none;
}

.product-description-info .text-title {
    flex: 1;
    font-size: 24px;
    margin-left: 1vw;
}

.product-description-info .text-content {
    flex: 2;
    font-size: clamp(1rem, 1rem + 0.4vw, 1.5rem);
    text-align: center;
}

.product-comments {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    margin-top: 20px 5vw;
    height: max(180px, 30vh);
    padding: 0;
}

.comment-text {
    background-color: white;
    height: max(60px, 10vh);
    text-align: center;
    border: 1px solid black;
    padding: 20px;
    font-size: clamp(1rem, 1rem + 0.4vw, 1.5rem);
}

.comment-text:first-of-type {
    border-radius: 16px 16px 0 0;
    border: 1px solid black;
    border-bottom: none;
}

.comment-text:last-of-type {
    border-radius: 0 0 16px 16px;
    border: 1px solid black;
    border-top: none;
}

.description-buttons {
    width: 100%;
}

.description-buttons a {
    width: 100%;
    font-size: clamp(1rem, 1rem + 0.5vw, 1.5rem);
}
@media screen and (max-width: 960px) {
    .description-buttons {
        flex-direction: column;
        gap: 20px;
    }
    .text-title {
        font-size: 10px;
    }
    .product-name,
    .product-price,
    .product-ingredients,
    .product-stock,
    .product-friends {
        flex-direction: column;
    }
}
