main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 36px 108px;
}

main .card-content {
    flex-direction: column;
    height: min(651px, 45vh);
}