.presentation-title {
    height: 384px;
    background-image: url("../assets/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.presentation-title h1 {
    font-size: 40px;
    text-align: center;
    width: 597px;
}

.info-container {
    padding: 32px 100px;
    border: 1px solid black;
    margin: 0 0 16px 1px;
    border-radius: 8px;
    background-color: #e7d0c5;
}

.step-list {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.step {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 22px;
}

.step-number {
    flex: 2;
    height: 100%;
    margin-right: 10px;
}

.rounded-div {
    border: 3px solid black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.step-desc {
    flex: 5;
    text-align: center;
    width: fit-content;
}

.infra-imgs, .step {
    width: 17vw;
    height: 26vh;
    margin: 35px 0;
}

#plus, #equal {
    width: min(90px, 10vw);
    height: min(90px, 25vh);
    margin: 0 10px;
}

#products .info-container {
    display: flex;
    flex-direction: column;
}

.menu-button {
    margin-top: -40px;
}

.promo-card {
    flex-direction: column;
    border-radius: 16px;
    height: 35vh;
    width: 30vw;
    margin: 40px;
    border: 1px solid black;
    background-color: white;
}

.promo-card-icon {
    width: 9vw;
    height: 15vh;
    margin-bottom: 20px;
}

.promo-card .styled-button1 {
    width: 22vw;
    height: 10vh;
    font-size: 40px;
}

.card-picker {
    width: 9vw;
    height: 15vh;
}

.michael-img {
    width: 360px;
    height: 466px;
}

#feedbacks .card-content {
    flex-direction: column;
    padding: 40px 105px;
}

.feedback-imgs {
    display: flex;
}

.customers-prints {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 50px;
}

.customers-prints img {
    width: min(600px, 41.6vw);
    height: min(200px, 25vh);
}

/* 
Width calc explanation: 
    360px  from michael-img
    50px   from margin-left
    min(*) from customers-prints img above
*/
.customers-message {
    width: calc(360px + 50px + min(600px, 41.6vw)); 
    height: 130px;
    background-color: #dda6a6;
    margin-top: 54px;
}

#location {
    background-color: #eff0d7;
}

#location .card-wrapper {
    background-color: #f0f2c4;
}

.location-title {
    background-color: #5eeb7d;
    height: 80px;
    width: min(320px, 22.22vw);
}

.location-address {
    background-color: #70af73;
    margin: 0 12px;
}

#location .card-content {
    border-radius: 16px;
    background-color: #f0f2c4;
    flex-direction: column;
    width: 85vw;
    padding: 40px 0;
}

.location-content {
    padding: 60px;
    height: 100%;
    width: 100%;
}

.map-message {
    flex-direction: column;
    font-size: 40px;
    text-align: center;
}

.map-message div:first-child {
    width: min(472px, 40vw);
    height: min(280px, 31vh);
    line-height: min(80px, 7vw);
}

.map {
    margin-right: 30px;
}

.map, .map-message {
    width: min(568px, 39vw);
    height: min(368px, 40vh);
}

.hat {
    width: min(160px, 15vw);
    height: min(160px, 30vw);
}
