@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lilita One', cursive;
    height: 100vh;
    background-color: #f1ded1;
}

.shaded-text {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.nav-bar {
    user-select: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: white;
    border: 1px solid #000000;
    border-radius: 0px 0px 16px 16px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    padding: 0 100px;
    margin-bottom: -10px;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo img {
    margin-right: 25px;
}

.nav-title {
    font-size: 24px;
    color: white;
    text-transform: uppercase;
}

.part2 {
    margin-left: 16px;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    width: 488px;
}

.nav-item {
    background: #B86E4C;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 16px;
    width: 80px;
    height: 56px;
    text-transform: uppercase;
    cursor: pointer;
}

.nav-items a {
    color: white;
    font-size: 12px;
    text-decoration: none;
}

.presentation-title {
    height: 384px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/assets/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.presentation-title h1 {
    color: white;
    font-size: 40px;
    text-align: center;
    width: 597px;
}

.info-container {
    height: 640px;
    border: 1px solid black;
    margin: 0 0 16px 1px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7d0c5;
}

.card-wrapper {
    background-color: #e1c4b6;
    margin: 0 108px;
    width: 85vw;
    height: 455px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    overflow: hidden;
}

.card-header {
    background-color: white;
    height: 95px;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px 16px 0px 0px;
    display: flex;
}

.step-list {
    display: flex;
    justify-content: center;
    flex: 2;
}

.step {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 93px;
    margin-left: 10px;
    font-size: 22px;
}

.step-number {
    flex: 2;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.rounded-div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.step-desc {
    flex: 5;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: fit-content;
    margin-right: 10px;
}

.girl1 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-content {
    flex: 1;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 16px 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.infra-imgs {
    width: 17vw;
    height: 26vh;
    padding: 15px;
}

#plus, #equal {
    width: 90px;
    height: 90px;
}