@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Lilita One', cursive;
    height: 100vh;
    background-color: #f1ded1;
    user-select: none;
}

.shaded-text {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: white;
}

.nav-bar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: white;
    border: 1px solid #000000;
    border-radius: 0px 0px 16px 16px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    padding: 0 100px;
    margin-bottom: -10px;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo img {
    margin-right: 25px;
}

.nav-title {
    font-size: 24px;
    text-transform: uppercase;
}

.part2 {
    margin-left: 16px;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    width: 488px;
}

.nav-item {
    background: #B86E4C;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 16px;
    width: 80px;
    height: 56px;
    text-transform: uppercase;
    cursor: pointer;
}

.nav-items a {
    font-size: 12px;
    text-decoration: none;
}

.presentation-title {
    height: 384px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/assets/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.presentation-title h1 {
    font-size: 40px;
    text-align: center;
    width: 597px;
}

.info-container {
    padding: 32px 100px;
    border: 1px solid black;
    margin: 0 0 16px 1px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7d0c5;
}

.card-wrapper {
    background-color: #e1c4b6;
    width: 85vw;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
}

.card-header {
    overflow: hidden;
    background-color: white;
    height: 95px;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px 16px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    text-align: center;
}

.card-header h1 {
    padding: 50px 0;
}

.step-list {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.step {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 22px;
}

.step-number {
    flex: 2;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.rounded-div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.step-desc {
    flex: 5;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: fit-content;
}

.girl1 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-content {
    overflow: hidden;
    flex: 1;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 16px 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#infra .card-header {
    display: flex;
    justify-content: space-around;
}

#infra .card-content {
    display: flex;
    justify-content: space-around;
}

.infra-imgs, .step {
    width: 17vw;
    height: 26vh;
    margin: 35px 0;
}

#plus, #equal {
    width: min(90px, 10vw);
    height: min(90px, 25vh);
    margin: 0 10px;
}

#products {
    display: flex;
    flex-direction: column;
}

#products a div {
    margin-top: -40px;
}

.styled-button1 {
    overflow: hidden;
    position: relative;
    background-color: #B86E4C;
    width: 35vw;
    height: 80px;
    font-size: 48px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
}

.promo-card {
    background-color: white;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 35vh;
    width: 30vw;
    margin: 40px;
    border: 1px solid black;
}

.promo-card-icon img {
    width: 9vw;
    height: 15vh;
    margin-bottom: 20px;
}

.promo-card div:not(.promo-card-icon){
    width: 22vw;
    height: 10vh;
    font-size: 40px;
}

.unfold img {
    width: 9vw;
    height: 15vh;
}

.michael-img img {
    width: 360px;
    height: 466px;
}

#feedbacks .card-content {
    flex-direction: column;
    padding: 40px 105px;
}

.feedback-imgs{
    display: flex;
}

.customers-prints {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 50px;
}

.customers-prints img {
    width: min(600px, 41.6vw);
    height: min(200px, 25vh);
}

.text-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 16px;
    font-size: 48px;
    text-align: center;
    padding: 37px 45px;
    overflow: hidden;
}

.customers-message {
    width: calc(360px + 50px + min(600px, 41.6vw)); 
    height: 130px;
    background-color: #dda6a6;
    margin-top: 54px;
}

section#location.info-container {
    background-color: #eff0d7;
}

#location .card-wrapper {
    background-color: #f0f2c4;
}

.location-title {
    background-color: #5eeb7d;
    height: 80px;
    width: min(320px, 22.22vw);
}

.location-address {
    background-color: #70af73;
    margin: 0 12px;
}

#location .card-content {
    border-radius: 16px;
    background-color: #f0f2c4;
    flex-direction: column;
    width: 85vw;
    padding: 40px 0;
}

.location-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
    height: 100%;
    width: 100%;
}

.map-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 40px;
    text-align: center;
}

.map-message div:not(.hat) {
    width: min(472px, 40vw);
    height: min(280px, 31vh);
    line-height: min(80px, 7vw);
    display: flex;
    align-items: center;
}

.map {
    margin-right: 30px;
}

.map img, .map-message {
    width: min(568px, 39vw);
    height: min(368px, 40vh);
}

.hat img {
    width: min(160px, 15vw);
    height: min(160px, 30vw);
}

.fixed-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    height: 80px;
    border-radius: 16px 16px 0 0;
    box-shadow: 8px 0px 8px 8px rgba(0, 0, 0, 0.25);
    margin-bottom: 0px;
}

.footer-items {
    display: flex;
    width: 280px;
    justify-content: space-between;
}

.footer-item {
    display: flex;
}

.footer-compensator {
    height: 80px;
}